<%include partials/header%>
<div class="container">
    <header class="jumbotron">
        <h1>This will be the awesome landing page ever</h1>

    </header>


    <a href="/campgrounds">click to view our exclusive camping grounds</a>
</div>

<%include partials/footer%>